// Variables
$primary-font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$color-white: #fff;
$color-black: #000;
$color-yellow: #e8c547;
$color-dark: #30323d;
$color-dark-gray: #4d5061;
$color-dark-blue: #5c80bc;
$color-marmol: #cdd1c4;
$color-box-shadow-default: rgba(0, 0, 0, .1);


// Custom variables Bootstrap
$font-family-sans-serif: $primary-font-family;
